* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'DM Sans', sans-serif;
}

body {
  margin: 0 auto;
  width: 1440px;
}

h1,
h2 {
  color: #2b292d;
}
span {
  color: #2b292d;
  font-size: 22px;
  letter-spacing: -0.01em;
  line-height: 32px;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #807f81;
}

/* 해더 */

.main_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 568px;
  background-color: #fdded8;
  text-align: center;
}

.main_header h1 {
  font-size: 70px;
  letter-spacing: -0.05em;
  line-height: 72px;
}
.main_header .no {
  display: none;
}

.main_header span {
  margin-top: 32px;
}

.header_button {
  margin-top: 32px;
}

.header_button button {
  width: 160px;
  height: 56px;
  border: none;
  outline: none;
  font-size: 18px;
  margin-right: 16px;
  font-weight: 700;
}

.Apply {
  background-color: #3040c4;
  color: #ffffff;
}

.Learn {
  background-color: #ffffff;
  color: #3040c4;
}

.Apply:active {
  background-color: #202ead;
}

.Learn:active {
  background-color: #f0f0f0;
}

/* 네비 */

.main_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 340px;
  background-color: #f4f5f7;
}

.main_nav .nav1 {
  height: 180px;
}
.main_nav .nav1:first-child {
  margin-right: 110px;
}

.main_nav h2 {
  font-size: 26px;
  line-height: 34px;
  letter-spacing: -0.04em;
  margin-bottom: 16px;
}

/* 프로그램 */

.main_Program {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 827px;
}

.main_Program strong {
  font-size: 22px;
  line-height: 24px;
  letter-spacing: -0.01em;
  font-weight: 700;
  color: #009b4d;
  margin-bottom: 16px;
}

.main_Program h1 {
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}

.main_Program span {
  margin-bottom: 72px;
}

.img1 {
  display: flex;
}

.img2 {
  width: 290px;
  height: 299px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  outline: none;
  color: #2b292d;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  font-weight: 700;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.25s ease-in;
}

.img2:nth-child(1) {
  margin-right: 30px;
}

.img2:nth-child(2) {
  margin-right: 30px;
}

.img2:hover {
  background-color: #3040c4;
  color: white;
}

.img2:active {
  background-color: #202ead;
}

.img2 img {
  display: block;
  width: auto;
  height: 195px;
  margin-bottom: 24px;
}

/* 커리큘럼 */

.main_Curriculum {
  height: 728px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.Curriculum {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Curriculum img {
  display: block;
  width: 450px;
  height: 450px;
  margin-bottom: 24px;
}

.c {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  width: 450px;
  height: 408px;
  margin-bottom: 66px;
}

.c strong {
  font-size: 22px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #0189d1;
  font-weight: 700;
  margin-bottom: 16px;
}

.c h1 {
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.03em;
  font-weight: 700;
  color: #2b292d;
  margin-bottom: 32px;
}

.c span {
  margin-bottom: 72px;
}

.c button {
  width: 160px;
  height: 56px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  background-color: #3040c4;
  color: #ffffff;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text span:first-child {
  margin-right: 30px;
}

.text span {
  width: 450px;
  height: 78px;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.01em;
}

/* 인포메이션 */

.main_infor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 460px;
  background-color: #f2f8fa;
}

.img {
  width: 370px;
  height: 300px;
  margin-right: 30px;
}

.main_infor img {
  display: block;
  width: 287px;
  height: 285px;
}

.contente {
  display: flex;
  flex-direction: column;
  width: 530px;
  height: 232px;
}

.contente h1 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.05em;
  color: #2b292d;
  margin-bottom: 20px;
}

.contente span {
  margin-bottom: 24px;
}

.mail {
  height: 84px;
}

.mail input {
  width: 362px;
  height: 56px;
}

.mail button {
  width: 160px;
  height: 54.58px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  background-color: #3040c4;
  color: #ffffff;
}

.mail div {
  margin-bottom: 4px;
}

.mail span {
  font-size: 14px;
  line-height: 24px;
  color: #7b7b7e;
}

/* 푸터 */

.main_footer {
  height: 56px;
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  padding: 0;
}

.main_footer li {
  margin-right: 10px;
}

.main_footer li:first-child {
  margin-left: 255px;
}

/* 미디어 쿼리  */

@media screen and (max-width: 325px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  br {
    display: none;
  }
  span {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
  }

  .main_header h1 {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.05em;
    color: #2b292d;
  }
  .main_header .yes {
    display: none;
  }
  .main_header .no {
    display: inline;
  }
  .header_button {
    display: flex;
  }
  .main_header button {
    width: 140px;
    height: 48px;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.05em;
    margin: 0;
  }
  .main_header button:first-child {
    margin-right: 8px;
  }

  .main_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 496px;
  }

  .main_nav h2 {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.04em;
  }
  .main_nav .nav1:first-child {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .main_Program h1 {
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -0.03em;
    text-align: start;
  }

  .main_Program {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1377px;
  }
  .main_Program .img1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .img1:nth-child(1) {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .img1:nth-child(2) {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
